/*paralax image*/
#paralax-image {  
	background-attachment: fixed; /* Parallax effect */
  	background-position: center; /* Parallax effect */
  	background-size: cover; /* Parallax effect */
  	color: white;
  	height: 200px; /* Parallax effect */

  	/* YOUR CODE HERE; */
  	grid-column: 1 / -1;
  	grid-row: 1 / span 1;
  	background-image: url(../images/all-three-cats.png);
  	background-repeat: no-repeat;
  }


/*nav links*/
nav {
	display: flex;
	justify-content: space-around;
}

.active {
    border: black 1px;
}
/*link colors*/
main a:link {
	color: #034039;
}

main a:visited {
	color: #034039;
}

/*style current link*/

nav a.current:hover {
	text-decoration-style: dotted;
	
}


/*flex on my cats page*/
.my-cats-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}

#cinder, #kai, #milo {
	min-width: 300px;
	max-width: 500px;
	margin: 10px;
}



/*grid on fun facts page*/
.fun-facts-grid-items {
  display: grid;
  grid-template: repeat(9, 1fr) / 1fr;
  justify-content: center;
  align-content: center;


}

.fun-fact1 {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}

.fun-fact2 {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}

.fun-fact3 {
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
}

.fun-fact4 {
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
}

.fun-fact5 {
	grid-column: 1 / span 1;
	grid-row: 5 / span 1;
}

.fun-fact6 {
	grid-column: 1 / span 1;
	grid-row: 6 / span 1;
}

.fun-fact7 {
	grid-column: 1 / span 1;
	grid-row: 7 / span 1;
}

.fun-fact8 {
	grid-column: 1 / span 1;
	grid-row: 8 / span 1;
}

.fun-fact9 {
	grid-column: 1 / span 1;
	grid-row: 9 / span 1;
}


/*skip to main content link*/
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

/*background colors*/
body {
	background-color: #E4F1E9;
  	font-size: 18px;
  	margin: 0;
  	padding: 0;
}

header {
	background-color: #034039;
  	padding: 25px 0;    
  	text-align: left;   
}
/*header text and links*/
header h1 {
	color: white;
	text-align: center;
}
/*nav links*/
nav {
	display: flex;
	justify-content: space-around;
}

nav a:link {
	color: white;
}

nav a:visited {
	color:  white;
}

.active {
    border: black 1px;
}

/*welcome-text*/
#welcome-text {
	text-align: center;
}


/*TABLET VIEW*/
@media screen and (min-width: 760px) {
	#paralax-image {  
  	height: 400px; /* Parallax effect */

  }



	.fun-facts-grid-items {
 	 display: grid;
  	grid-template: repeat(5, 1fr) / 1fr 1fr;
  	justify-content: center;
  	align-content: center;

	}

	.fun-fact1 {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}

	.fun-fact2 {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
	}	

	.fun-fact3 {
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
	}

	.fun-fact4 {
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
	}

	.fun-fact5 {
		grid-column: 1 / span 1;
		grid-row: 3 / span 1;
	}

	.fun-fact6 {
		grid-column: 2 / span 1;
		grid-row: 3 / span 1;
	}

	.fun-fact7 {
		grid-column: 1 / span 1;
		grid-row: 4 / span 1;
	}

	.fun-fact8 {
		grid-column: 2 / span 1;
		grid-row: 4 / span 1;
	}

	.fun-fact9 {
		grid-column: 1 / span 1;
		grid-row: 5 / span 2;
	}	



}
	


/*DESKTOP VIEW*/
/*@media screen and (min-width: 1000px) {

	.grid-container {
  		display: grid;
  		grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	}

	.fun-fact1 {
		grid-column: 1 / 2;
		grid-row: 1 / span 1;
	}

	.fun-fact2 {
		grid-column: 2 / 3;
		grid-row: 1 / span 1;
	}

	.fun-fact3 {
		grid-column: 3 / 4;
		grid-row: 1 / span 1;
	}	

	.fun-fact4 {
		grid-column: 1 / 2;
		grid-row: 2 / span 1;
	}

	.fun-fact5{
		grid-column: 2 / 3 ;
		grid-row: 2 / span 1;
	}

	.fun-fact6{
		grid-column: 3 / 4;
		grid-row: 2 / span 1;
	}

	.fun-fact7{
		grid-column: 1 / 2;
		grid-row: 3 / span 1;
	}

	.fun-fact8{
		grid-column: 2 / 3;
		grid-row: 3 / span 1;
	}

	.fun-fact9{
		grid-column: 3 / 4;
		grid-row: 3 / span 1;
	}
}





*/